body {
  margin: 0;
  padding: 0;
  
  padding-top: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  
  background-color: whitesmoke;
  width: 100%;
}

header {
  background-color: whitesmoke;
}

.navbar > ul {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar > ul li {
  list-style: none;
  display: inline;
}

.nav > li > .lang {
  padding-left: 2px;
  padding-right: 2px;
  
  text-transform: uppercase;
}

.selected {
  font-weight: bold;
}

.about {
  border-top: 1px #d8d8d8 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.copyright {
  margin-top: 10px;
  margin-right: 5px;
}

.calendar-item {
  margin-bottom: 10px;
}

.calendar-item > .media {
/*  height: 240px;*/
}

.main-section {
  padding-top: 52px;
/*  margin-bottom: 20px;*/
/*  padding-bottom: 20px;*/
}

@media screen and (min-width: 500px) {
  .main-section { min-height: 300px; }
}

/*
.main-section:nth-child(odd) {
  background-color: whitesmoke;
}

.main-section:nth-child(even) {
  background-color: gray;
}
*/

.event {
  background: whitesmoke;
/*  border:1px solid #AAA;*/
/*    border-bottom:3px solid #BBB;*/
  padding: 0;
  margin-bottom: 10px;
  overflow: hidden;
  
  height: 100px;
}

.media-anchor {
  height: 100px;
  width: 100px;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
/*  margin: 0 auto;*/
}

.media-object {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
     -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
       -o-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.media {
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.event-page {
  min-height: 400px;
}

.event-date {
  margin-top: 100px;
}

.event-info {
  margin-bottom: 20px;
}

.event-description {
  height: 100%;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  height: 50px;
}

figure img {
  padding: 15px;
  background-color: whitesmoke;
  border: 1px solid #b1b1b1;
  
  box-shadow: 0px 1px 5px 0px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(119, 119, 119, 0.75);
  
}
/*
  transform: rotate(.5deg);
  -webkit-transform: rotate(.5deg);
*/

@media screen and (max-width: 500px) {
  figure img {
    padding: 5px;
  }
}

#first {
  background: url(../assets/bg.jpg) no-repeat center center ; 
  /*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  */
  background-size: cover;
  height: 550px;
}

#moto {
  position: relative;
  top: 320px;
  opacity: 0.85;
}

.navbar {
  margin-bottom: 0px;
}

figure img.landscape {
  display: block;
  width: 90%;
  margin: auto;
}

figure img.portrait {
  display: block;
  width: 50%;
  margin: auto;
}

figcaption {
  text-align: center;
  padding-bottom: 10px;
}

.links {
  text-align: center;
  padding: 10px;
}

.links a {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .calendar-item > .media {
    height: 231px;
  }
  
  .columns[data-columns]::before {
    content: '2 .col-sm-6';
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .calendar-item > .media {
    height: 275px;
  }
  
  .news-item {
    height: 168px;
  }
  
  .columns[data-columns]::before {
    content: '3 .col-md-4';
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .calendar-item > .media {
    height: 220px;
  }
  
  .columns[data-columns]::before {
    content: '3 .col-md-4';
  }
}

p.intro {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

span.intro-text {
  font-style: italic;
}

span.intro-author {
  font-style: normal;
}

