<div id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
        <div>
        {% case page.lang %}
          {% when 'en' %}
            <strong>Useful links</strong>
          {% when 'fi' %}
            <strong>Hyödyllisiä linkkejä</strong>
          {% when 'ro' %}
            <strong>Linkuri utile</strong>
        {% endcase %}
        </div>

        {% for link in site.data.links %}
        <div><a href="{{ link.url }}">{{ link.caption[page.lang] }}</a></div>
        {% endfor %}
      </div>
      <div class="col-md-3 col-sm-3">
        <strong>
        {% case page.lang %}
          {% when 'en' %}
            <span>About Us</span>
          {% when 'fi' %}
            <span>Yhteystiedot</span>
          {% when 'ro' %}
            <span>Despre noi</span>
        {% endcase %}
        </strong>
        <div>
        {% case page.lang %}
          {% when 'en' %}
            <span>Address:</span>
          {% when 'fi' %}
            <span>Osoite:</span>
          {% when 'ro' %}
            <span>Adresă:</span>
        {% endcase %}
        </div>
        <address>
          Suvantokatu 13, 2 krs.<br>
          33100 Tampere
        </address>
        <div>Rekisterinumero: 190.094</div>
        <div><a href="/{{ page.lang }}/{{ site.data.translations.hallitus[page.lang].link }}">{{ site.data.translations.hallitus[page.lang].label | capitalize }}</a></div>
      </div>
      <div class="col-md-3 col-sm-3">
        <strong>
        {% case page.lang %}
          {% when 'en' %}
            <span>Contact us</span>
          {% when 'fi' %}
            <span>Ota yhteyttä</span>
          {% when 'ro' %}
            <span>Contactați-ne</span>
        {% endcase %}
        </strong>
        <div>
          <span>
            <a href="mailto:tampereen.suomi.romania@gmail.com">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </span>
          <span>
            <a href="https://www.facebook.com/Tampereen.Suomi.Romania">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </span>
          <span title="Our project management tool">
            <a href="https://trello.com/tamsuro">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trello fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </span>
          <span title="Write to guestbook">
            <a href="/guestbook">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="row pull-right copyright">
      © 2014 Tampereen Suomi-Romania yhdistys ry
    </div>
  </div>
</div>
