<div id="calendar" class="main-section">
  <div class="container">
    {% for section in site.data.sections %}
    {% if section.id == 'calendar' %}
    <h2>{{ section.heading[page.lang] }}</h2>
    {% endif %}
    {% endfor %}
    
    <div class="columns" data-columns>
      {% for event in site.categories.events %}
      {% if event.lang == page.lang %}
      {% unless event.redirect %}
      {% increment event-index %}
      {% if event-index <= 12 %}
      {% include cards/event.html %}
      {% endif %}
      {% endunless %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if event-index > 12 %}
  <div class="container">
    <div><a href="/{{ page.lang }}/past-events.html">Older events...</a></div>
  </div>
  {% endif %}
</div>