<div id="calendar" class="main-section">
  <div class="container">
    {% for section in site.data.sections %}
    {% if section.id == 'calendar' %}
    <h2>{{ section.heading[page.lang] }}</h2>
    {% endif %}
    {% endfor %}
    
    <div class="columns" data-columns>
      {% for event in site.categories.events %}
      {% if event.lang == page.lang %}
      <div class="panel panel-default">
        <div class="media">
          <div class="pull-left">
            <div class="media-anchor">
              <img class="media-object" src="{{ event.media }}">
            </div>
            <div><i class="fa fa-calendar"></i> {{ event.date | date_to_string }}</div>
<!--            <div><i class="fa fa-calendar"></i> {{ event.date | date: "%d" }}</div>-->
            <div><i class="fa fa-clock-o"></i> {{ event.time }}</div>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ event.url }}">{{ event.title }}</a></h4>
            <p>{{ event.excerpt | truncate: 200 }}</p>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="cal-heading" style="background-image: url({{ event.media }});">
        </div>
        <div class="panel-body">
          <h4 class="media-heading"><a href="{{ event.url }}">{{ event.title }}</a></h4>
          <p>{{ event.excerpt | truncate: 200 }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>