<div id="calendar" class="main-section">
  <div class="container">
    {% for section in site.data.sections %}
    {% if section.id == 'calendar' %}
    <h2>{{ section.heading[page.lang] }}:</h2>
    {% endif %}
    {% endfor %}
    <div class="row">
      {% for event in site.categories.events %}
      {% if event.lang == page.lang %}
      <div class="col-md-6 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <div class="media-anchor">
              <img class="media-object" src="{{ event.media }}">
            </div>
            <div><i class="fa fa-calendar"></i> {{ event.date | date_to_string }}</div>
            <div><i class="fa fa-clock-o"></i> {{ event.time }}</div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ event.title }}</h4>
            <p>{{ event.excerpt | truncate: 200 }}</p>
            <p class="pull-right"><a href="{{ event.url }}">more</a></p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>