<div class="main-section">
  <div class="container">
    <h2>About us:</h2>
  <p>Established in 2004, the association Tampereen Suomi-Romania yhdistys ry (TSRY) is an independent organization promoting Romanian culture and language in Finland. Our work relies on the enthusiasm of our team of volunteers and in addition to the cultural activities, TSRY also plays an active part in the social life of the Romanian Diaspora in Finland. Our members are mainly Finnish and Romanian, but we welcome people from all backgrounds with an open heart.</p>

  <p>We collaborate with the Romanian Embassy in Helsinki, the Romanian Honorary Consulate in Tampere, the Romanian Language and Civilization department at the University of Tampere and also other associations from Finland such as Suomi-Moldova-seura, Suomi-Romania-seura, Project4Romania, The Romanian Cultural Association from Helsinki and the association ArtOn from Tampere.</p>

  <p>Further information about our activities is available in <a href="/fi">Finnish</a> and <a href="/ro">Romanian</a>.</p>
  </div>
</div>