<div class="panel panel-default">
  {% if event.logo == 'contain' %}
  <div class="cal-heading cal-heading-contain" style="background-image: url({{ event.media }});">
    {% include attribution.html %}
  </div>
  {% else %}
  <div class="cal-heading cal-heading-cover" style="background-image: url({{ event.media }});">
    {% include attribution.html %}
  </div>
  {% endif %}
  <div class="panel-body">
    <h4 class="media-heading"><a href="{{ event.url }}">{{ event.title }}</a></h4>
    <p>{{ event.excerpt | truncate: 200 }}</p>
  </div>
  <div class="panel-footer">
    <i class="fa fa-calendar"></i>
    {% if event.custom-date %}
    <span>{{ event.custom-date }}</span>
    {% else %}
    <span>{{ event.date | date: "%d" }}</span>
    {% assign mon = event.date | date: "%-m" | minus: 1 %}
    <span>{{ site.data.months[mon][page.lang] | downcase }}</span>
    <span>{{ event.date | date: "%Y" }}</span>
    <span>&nbsp;</span>
    <i class="fa fa-clock-o"></i>
    <span>{{ event.time }}</span>
    {% endif %}
  </div>
</div>