<div class="panel panel-default">
  {% if post.logo == 'contain' %}
  <div class="cal-heading cal-heading-contain" style="background-image: url({{ post.cover }});"></div>
  {% else %}
  <div class="cal-heading cal-heading-cover" style="background-image: url({{ post.cover }});"></div>
  {% endif %}
  <div class="panel-body">
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    {% if post.summary %}
    <p>{{ post.summary }}</p>
    {% else %}
    <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
    {% endif %}
  </div>
</div>