---
layout: default
---

<div class="container event-page">
  {% include json-ld/event.html %}
  <h2><a href="{{ page.event-url }}">{{ page.title }}</a></h2>
  <div class="row event-info">
    {% if page.custom-date %}
    <div class="col-md-2 col-sm-3">
      <i class="fa fa-calendar"></i>
      <span>{{ page.custom-date }}</span>
    </div>
    {% else %}
    <div class="col-md-2 col-sm-3">
      <i class="fa fa-calendar"></i>
      <span>{{ page.date | date: "%d" }}</span>
      {% assign mon = page.date | date: "%-m" | minus: 1 %}
      <span>{{ site.data.months[mon][page.lang] | downcase }}</span>
      <span>{{ page.date | date: "%Y" }}</span>
    </div>
    {% if page.time %}
    <div class="col-md-2 col-sm-3"><i class="fa fa-clock-o"></i> {{ page.time }}</div>
    {% endif %}
    {% endif %}
    {% if page.address %}
      {% if page.address-url %}
      <div class="col-md-6 col-sm-6"><i class="fa fa-map-marker"></i> <a href="{{ page.address-url }}" target="_blank">{{ page.address }}</a></div>
      {% else %}
      <div class="col-md-6 col-sm-6"><i class="fa fa-map-marker"></i> {{ page.address }}</div>
      {% endif %}
    {% endif %}
  </div>
  {% for update in page.updates %}
  <p>
    <strong>Update ({{ update.date }}):</strong>
    <span>{{ update.text }}</span>
  </p>
  {% endfor %}
  <div>{{ content }}</div>
</div>
