---
layout:   default
---

<div class="container event-page">
  {% include json-ld/event.html %}
  <h2><a href="{{ page.event-url }}">{{ page.title }}</a></h2>
  <div class="row event-info">
    {% if page.custom-date %}
    <div class="col-md-2 col-sm-3">
      <i class="fa fa-calendar"></i>
      <span>{{ page.custom-date }}</span>
    </div>
    {% else %}
    <div class="col-md-2 col-sm-3">
      <i class="fa fa-calendar"></i>
      <span>{{ page.date | date: "%d" }}</span>
      {% assign mon = page.date | date: "%-m" | minus: 1 %}
      <span>{{ site.data.months[mon][page.lang] | downcase }}</span>
      <span>{{ page.date | date: "%Y" }}</span>
    </div>
    {% if page.time %}
    <div class="col-md-2 col-sm-3"><i class="fa fa-clock-o"></i> {{ page.time }}</div>
    {% endif %}
    {% endif %}
    {% if page.doodle %}
    <div class="col-md-2 col-sm-3">
      <i class="fa fa-ticket"></i> 
      <a href="{{ page.doodle }}">{{ site.data.translations.register[page.lang] }}</a>
    </div>
    {% endif %}
    {% if page.address %}
      {% if page.address-url %}
      <div class="col-md-6 col-sm-6"><i class="fa fa-map-marker"></i> <a href="{{ page.address-url }}" target="_blank">{{ page.address }}</a></div>
      {% else %}
      <div class="col-md-6 col-sm-6"><i class="fa fa-map-marker"></i> {{ page.address }}</div>
      {% endif %}
    {% endif %}
  </div>
  {% for update in page.updates %}
  <p>
    <strong>Update ({{ update.date }}):</strong>
    <span>{{ update.text }}</span>
  </p>
  {% endfor %}
  <div>{{ content }}</div>
  {% if page.social %}
  <div>
    <span>{{ site.data.translations.social[page.lang] }}&nbsp;</span>
    <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.suomi-romania.fi{{page.url | uri_escape}}" class="share" target="_target"><i class="fa fa-facebook-square"></i></a>&nbsp;
    <a class="share" target="_blank" href="https://twitter.com/share?text={{page.social}}&amp;url=http://www.suomi-romania.fi{{page.url | uri_escape}}"><i class="fa fa-twitter"></i></a>
  </div>
  {% endif %}
</div>
